.filters {
  $self: &;
  box-sizing: border-box;
  font-size: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  * {
    box-sizing: inherit;
    font-size: 16px;
  }

  // Column sizes
  &[data-columns='1'] {
    #{$self}__container {
      width: 100%;
    }
  }

  &[data-columns='2'] {
    #{$self}__container {
      width: percentage(6/12);
    }
  }

  &[data-columns='3'] {
    #{$self}__container {
      width: percentage(4/12);
    }
  }

  &[data-columns='4'] {
    #{$self}__container {
      width: percentage(3/12);
    }
  }

  &[data-columns='5'] {
    #{$self}__container {
      width: 20%;
    }
  }

  &[data-columns='6'] {
    #{$self}__container {
      width: percentage(2/12);
    }
  }

  // Filter list
  ul {
    margin: 0;
    padding: 0;
  }

  // Filters
  li {
    cursor: pointer;
    display: inline-block;

    &[data-filter='clear'] {
      display: none;
    }

    &#{$self}--active {
      font-weight: 700;
    }

    &#{$self}--hidden {
      display: none;
    }
  }

  &__container {
    display: inline-block;
    left: 0;
    top: 0;
    vertical-align: top;
  }
}

.filters li {
  font-size: 18px;
  padding: 5px 5px 5px 0;
}

.filters__container {
  padding: 0 5px 5px 0;
}

.filters__content {
  background-color: rebeccapurple;
  color: #fff;
  padding: 10px;
}
